body
{
    color:#333;
    text-align: left;
    font-family: Courier;
}
#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75); 
    color: white;
    font-weight: bold;
    padding: 0.5cm;
    margin: 0;
}
#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.5cm;

}
#container
{
    width: 70%;
    padding: 0cm;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#post 
{
    padding: 1cm;
}